# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Test reports
.pytest_cache/
.coverage
htmlcov/

# Type checker
.mypy_cache/

# Ruff
.ruff_cache/

# IDE
.vscode/
.idea/

# Logs
logs/
*.log

# Database
*.db
